[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule = "themes/hugo-theme-stack-starter"]
	path = themes/hugo-theme-stack-starter
	url = https://github.com/CaiJimmy/hugo-theme-stack-starter
	